<%- include("./partials/header.ejs") %>

<main class="page-container">
    <div class="glass-card">
        <h1 class="page-title">About Page and Pen</h1>
        <p>
            Hello there. I am <strong>Janani</strong>, Creator of Page and Pen. I am a budding programmer from India. 
            This is my very first dive into creating something from scratch. Whether you're an expert in a niche field or just passionate about a hobby, 
            blogging provides a platform to educate, inspire, or entertain others who share similar interests, which was my main 
            motivation to build this. I'm thrilled to share my thoughts and experiences here. Let's learn together! <br><br>
        </p>
    </div>
</main>

<%- include("./partials/footer.ejs") %>